<div class="container">
    <h1>
        Template Form
    </h1>
    <form class="container-fluid" #username="ngForm" (ngSubmit)="onSubmit()">

        <fieldset>
            <label for="fname" id="name-label">First Name
                <input class="field" type="text" id="fname" name="fname" placeholder="Enter your First name" required
                    [(ngModel)]="user.fname"></label>

            <br>
            <label for="mname" id="name-label">Middle Name
                <input class="field" type="text" id="mname" name="mname" placeholder="Enter your Middle name" required
                    [(ngModel)]="user.mname"></label>
            <br>
            <label for="lname" id="name-label">Last Name
                <input class="field" type="text" id="lname" name="lname" placeholder="Enter your Last name" required
                    [(ngModel)]="user.lname"></label>
            <br>
            <label>Text</label>
            <textarea class="textarea" name="text"
                (ngModel)="user.fname + user.mname + user.lname"></textarea>
            <br>

            <label>Age:</label>
            <input type="number" name="age" id="age" placeholder="Enter Age" class="age" [(ngModel)]="user.age"
                required>

            <br>
            <br>
            <input type="radio" id="male" name="gender" value="male" [(ngModel)]="user.gender">
            <label for="male">Male</label><br>
            <input type="radio" id="female" name="gender" value="female" [(ngModel)]="user.gender">
            <label for="female">Female</label><br>
            <input type="radio" id="other" name="gender" value="other" [(ngModel)]="user.gender">
            <label for="other">Other</label>

            


            <label for="gender">Hobbies</label>
                <div class="form-group" ngModelGroup="hobbies" #hobbies="ngModelGroup">
                    <span *ngFor="let hobby of hobbyList">
                        <input type="checkbox" class="form-check-input me-1"
                         [value]="hobby" [name]="hobby" 
                        [(ngModel)]="user.hobby[hobby]">
                        <label for="music" class="form-check-label me-2">{{hobby |  uppercase}}</label>
                    </span>
                   
                </div>
            

            <label for="company">Choose a company:</label>

            <select name="company" id="company" [(ngModel)]="user.company">
                <option value="tech">tech</option>
                <option value="extensor">extensor</option>
                <option value="royal">royal</option>
                <option value="tcs">tcs</option>
                <option value="infosys">infosys</option>
                <option value="reylon">reylon</option>
                <option value="sv">sv</option>
            </select>
            <br>
            <button type="button" name="back" class="btn btn-primary" routerLink="/home">Back</button>
            <input type="reset" name="clear" value="Clear" class="btn btn-danger">
            <button type="button" name="submission" class="btn btn-success" (click)="onSubmission()">submission</button>
        </fieldset>

    </form>
    {{username.value | json}}
</div>